<div class="col-sm-12 col-md-5 contactIconsDiv">
  <a href="https://github.com/galagarza89">
  	<div class="contactIcon" id="gitIcon">
 			<i class="fab fa-github fa-3x"></i> 
 			<p>Check out my Github Account!</p>
  	</div>
  </a>
  <a href="https://www.linkedin.com/in/david-galagarza-3304a9bb/">
    <div class="contactIcon" id="linkedInIcon">
      <i class="fab fa-linkedin fa-3x"></i>
      <p>Check out my LinkedIn Account!</p>
    </div>
  </a>
  <a href="./images/Resume.pdf" target="_blank">
    <div class="contactIcon" id="resumeIcon">
        <i class="far fa-file-alt fa-3x"></i> 
        <p>Get a copy of my Resume!</p>
    </div>
  </a>
</div>