<div class="contactform">
    <form action="/contact" id="contact-form". method="post" role="form">
      <fieldset>
    	<div class="contactLabel">
            <label for="name">Name</label> 
            <input name="name" id="name" class="form-control input-lg" placeholder="Your Name" type="text" required="required"> 
        </div>
    	<div class="contactLabel">
        	<label for="email">Email Address</label>
        	<input name="email" id="email" class="form-control input-lg" placeholder="Your email address" type="text" required="required"> 
        </div>
        <div class="contactMessage">
    		  <label for="message">Message:</label> 
        	<textarea name="message" id="message" class="form-control input-lg" rows="10" required="required"></textarea>
    	</div>
        <div>
        	<button class="btn btn-primary pull-right btn-lg" type= "submit"><i class="fa fa-angle-double-right fa-lg"></i> Send</button>
        </div>
        </fieldset>
    </form> 
  </div>
</div> <!-- End of contactform -->