    <footer>
      <div class="footerContent">
        <div class="row">
          <div class="col-sm-12 socialLinks">
            <!--Twitter-->
            <a href="https://twitter.com/dgalagarza89"><i class="fab fa-twitter fa-2x"> </i></a>
            <!--Linkedin-->
            <a href="https://www.instagram.com/galagarza2889/"><i class="fab fa-instagram fa-2x"> </i></a>
          </div>
          <div class="col-sm-12 copyright">
            David Galagarza &copy; {{currentYear}}
          </div>
        </div> <!-- End row -->
      </div> <!-- End of footer container -->
    </footer>