<head>

	<title>David Galagarza | Home</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

	<link rel="shortcut icon" href="">

	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>