<!DOCTYPE html>
<html>
{{>head}}

<body class="aboutPageBody">

  {{> nav}}

    <div class="aboutSection">
      <div class="row">
        <div class="col-sm-12 col-md-5 imgAboutDiv">
          <img class="aboutImage img-fluid" src="./images/possible.jpg">
        </div>
        <div class="col-sm-12 col-md-7 textContent">
          <h3>About</h3>
          <p>My name is <strong>David</strong>, and I am an aspiring Web Developer living in Orlando, FL. After graduating from UCF with a BSBA in finance, I began working as an Investment Asset Analyst for McInerney Financial Group for three years. After my second year I realized that this was not what I wanted to do for the rest of my life. I have always had a fascination for science and technology so I decided to give Code Academy a try. Fast forward a year later, I left my job to pursue my <strong>passion</strong> and become a Web Developer.</p>
          <p>I'm interested in clean and simple designs using <strong>Angular, jQuery and Bootstrap</strong>. While I enjoy development and design, I love using back-end tech including <strong>NodeJS, Express and MongoDB</strong>. In my off time I enjoy working on the skills I already have, as well as learning new ones.</p>
          <p>Besides web development I enjoy reading, visiting places I've never been, soccer and spending time with friends and family.</p>
        </div>
      </div> <!-- End row -->
    </div> <!-- End of aboutSection container-fluid -->

    {{> footer}}

    {{> scripts}}
</body>
</html>