<!DOCTYPE html>
<html>
{{> head}}
<body class="mainPageBody">

  {{>nav}}

    <!-- Page Content -->	

    <div class="container textBoxes">
    	<div class="textBox1">
    		<h2>David Galagarza</h2>
    	</div>
    	<div class="textBox2">
    		<h3>Web Developer</h3>
    	</div>
    </div>

  {{> scripts}}
</body>
</html>