<!DOCTYPE html>
<html>
{{> head}}
<body class="portfolioPageBody">

  {{>nav}}

    <div class="container-fluid portfolioDiv">
      <h2>Skills</h2>
      <div class="row skillIconDiv">
        <div class="col-sm-12 col-md-4 skillIcon">
          <i class="fab fa-html5 fa-5x"></i>
          <h3>Front-end</h3>
          <p>Build websites using the latest Javascript, HTML5, CSS3, Bootstrap and AngularJS.</p>
        </div>
        <div class="col-sm-12 col-md-4 skillIcon">
          <i class="fab fa-node-js fa-5x"></i> 
          <h3>Back-end</h3>
          <p>Currently use Node JS for all server side applications.</p>
        </div>
        <div class="col-sm-12 col-md-4 skillIcon">          
          <i class="fa fa-cogs fa-5x"></i>
          <h3>Other</h3>
          <p>Always looking to learn new skills in languages I currently know and learning new languages.</p>
        </div>
      </div> <!-- end skillIcons -->
      <hr>
      <h2>Projects</h2>
      <div class="row portImageSection">
        <div class="portImage col-sm-12 col-md-6 col-lg-4">
          <a href="https://quote-generator-01.herokuapp.com/"><img class="img-fluid" src="./images/portfolio/randomQuote.jpg"></a>
          <p>Random Quote App</p>
        </div>
        <div class="portImage col-sm-12 col-md-6 col-lg-4">
          <a href="https://github.com/galagarza89/reggae-app"><img class="img-fluid" src="./images/portfolio/reggaeApp.jpg"></a>
          <p>Reggae App</p>
        </div>
        <div class="portImage col-sm-12 col-md-6 col-lg-4">
          <a href="https://weather-app-01.herokuapp.com/"><img class="img-fluid" src="./images/portfolio/weatherApp.jpg"></a>
          <p>Weather App</p>
        </div>
        <div class="portImage col-sm-12 col-md-6 col-lg-4">
          <a href="https://budget-app-01.herokuapp.com/"><img class="img-fluid" src="./images/portfolio/budgetApp.jpg"></a>
          <p>Budget App</p>
        </div>
        <div class="portImage col-sm-12 col-md-6 col-lg-4">
          <a href="https://beer-app-01.herokuapp.com/"><img class="img-fluid" src="./images/portfolio/beerApp.jpg"></a>
          <p>Beer App</p>
        </div>
        <div class="portImage col-sm-12 col-md-6 col-lg-4">
          <a href="https://github.com/galagarza89/reggae-api"><img class="img-fluid" src="./images/portfolio/reggaeAPI.jpg"></a>
          <p>Reggae Rest API</p>
        </div>
      </div> <!-- end portImageLinks -->
    </div> <!-- end container div -->

  {{> footer}}

  {{> scripts}}
</body>
</html>