<!DOCTYPE html>
<html>
{{> head}}
<body class="contactPageBody">

  {{> nav}}

	<div class="container-fluid ">
		<div class="submit-success text-center">
			<h4>Your email has been sent! <i class="far fa-paper-plane"></i></h4>
			<a class="btn btn-primary btn-lg btn-dark" href="/portfolio" role="button">Back to Portfolio</a>
		</div>
	</div> <!-- End of container -->

    <footer class="successFooter">
      <div class="footerContent">
        <div class="row">
          <div class="col-sm-12 socialLinks">
            <!--Twitter-->
            <a href="https://twitter.com/dgalagarza89"><i class="fab fa-twitter fa-2x"> </i></a>
            <!--Linkedin-->
            <a href="https://www.linkedin.com/in/david-galagarza-3304a9bb/"><i class="fab fa-linkedin fa-2x"> </i></a>
          </div>
          <div class="col-sm-12 copyright">
            David Galagarza &copy; {{currentYear}}
          </div>
        </div> <!-- End row -->
      </div> <!-- End of footer container -->
    </footer>

  {{> scripts}}
  
</body>
</html>